@model Liga_Futebol.Models.Jogador

@{
    ViewBag.Title = "Editar Jogador";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg rounded-4 p-4" style="min-width: 650px; max-width: 800px; width: 100%;">
        <div class="card-header bg-dark text-white rounded-4 mb-4 d-flex justify-content-between align-items-center">
            <h4 class="mb-0"><i class="fas fa-user-edit me-2"></i> Editar Jogador</h4>
            <a href="@Url.Action("Index")" class="btn btn-sm btn-outline-light">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        </div>

        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-6 mb-3">
                        @Html.LabelFor(m => m.Nome)
                        @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 mb-3">
                        @Html.LabelFor(m => m.DataNascimento)
                        @Html.EditorFor(m => m.DataNascimento, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(m => m.DataNascimento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        @Html.LabelFor(m => m.Nacionalidade)
                        @Html.EditorFor(m => m.Nacionalidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Nacionalidade, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 mb-3">
                        @Html.LabelFor(m => m.Posicao)
                        @Html.EnumDropDownListFor(m => m.Posicao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Posicao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(m => m.NumCamisa)
                        @Html.EditorFor(m => m.NumCamisa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.NumCamisa, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(m => m.Altura)
                        @Html.EditorFor(m => m.Altura, new { htmlAttributes = new { @class = "form-control", step = "0.01" } })
                        @Html.ValidationMessageFor(m => m.Altura, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(m => m.Peso)
                        @Html.EditorFor(m => m.Peso, new { htmlAttributes = new { @class = "form-control", step = "0.1" } })
                        @Html.ValidationMessageFor(m => m.Peso, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        @Html.LabelFor(m => m.PePreferido)
                        @Html.EnumDropDownListFor(m => m.PePreferido, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PePreferido, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 mb-3">
                        @Html.LabelFor(m => m.TimeId, "Time")
                        @Html.DropDownList("TimeId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TimeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="text-end mt-4">
                    <button type="submit" class="btn btn-success px-4">
                        <i class="fas fa-save me-2"></i>Salvar Alterações
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
