@model Liga_Futebol.Models.Liga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Liga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTimes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTimes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rodadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rodadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartidasPorRodada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartidasPorRodada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCompeticao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCompeticao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
