@model Liga_Futebol.Models.Time

@{
    ViewBag.Title = "Excluir Time";
}


<h2 class="mt-4 mb-4 text-danger">Excluir Time</h2>

<h3 class="text-secondary">Tem certeza de que deseja excluir este time?</h3>
<div class="card shadow p-4 bg-light">
    <h4 class="text-secondary">Detalhes do Time</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 font-weight-bold">Nome</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

        <dt class="col-sm-3 font-weight-bold">Status</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>

        <dt class="col-sm-3 font-weight-bold">Cor Uniforme Primária</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CorUniformesPrimaria)</dd>

        <dt class="col-sm-3 font-weight-bold">Cor Uniforme Secundária</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CorUniformesSecundaria)</dd>

        <dt class="col-sm-3 font-weight-bold">Data de Fundação</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.DataFundacao)</dd>

        <dt class="col-sm-3 font-weight-bold">Cidade</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Cidade)</dd>

        <dt class="col-sm-3 font-weight-bold">Estado</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Estado)</dd>

        <dt class="col-sm-3 font-weight-bold">Estádio</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.EstadioTime)</dd>

        <dt class="col-sm-3 font-weight-bold">Capacidade do Estádio</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CapacidadeEstagio)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-trash"></i> Excluir
            </button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary ml-2" })
        </div>
    }
</div>
